.footer-sticky {
    flex: 1;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 15rem 3rem 3rem 0;
}

footer div {
    display: flex;
}

footer div:nth-child(2) {
    align-items: center;
}